{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{realty.image_cover.url}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'detail_page' realty.id %}">{{realty.header}}</a>>


                    </h2>
                  </div>

                  <div class="card-body-a">

                    <div class="price-box d-flex">

                      <span class="price-a">Стоимость ₽ {{ realty.cost|intcomma }}</span>
                    </div>

<!--                    <a href="property-single.html" class="link-a">Click here to view-->
                      <span class="bi bi-chevron-right"></span>

                    </a>

                  </div>

                  <div class="card-footer-a">

                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Площадь </h4>
                        <span>{{realty.s}}
                          м<sup>2</sup>
                        </span>
                      </li>
                      Менеджер

                      <br>
                      {{realty.manager}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
{{realty.info}}




</form>>

{% endblock %}