{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
{% load thumbnail %}



    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{realty.header}}</h1>

            </div>
          </div>
          <div class="col-md-12 col-lg-4">
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->



    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper">
              <div class="swiper-wrapper">

                <div class="carousel-item-b swiper-slide">
                  <img src="{% thumbnail realty.image_cover 900x400 crop %}" alt="">
                </div>

                {% for image in realty.images.all %}
                <div class="carousel-item-b swiper-slide">
<!--                  <img src="{% thumbnail realty.image_cover 900x400 crop %}" alt="">-->
                  <img src="{% thumbnail image.image 900x400 crop %}" alt="">
                </div>
                {% endfor %}


              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">


                    </div>
                    <div class="card-title-c align-self-center">

                       {% if realty.sale %}

                      <h5 class="title-c"> Стоимость ₽ <del> {{ realty.cost|intcomma }} </del></h5>
                      <h5 class="title-c"> <mark style="background-color: red; color: black;"> {{new_cost|intcomma }} </mark></h5>

                        {% else %}
                         <h5 class="title-c">Стоимость ₽ {{ realty.cost|intcomma }}</h5>
                        {% endif %}

                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Описание недвижимости</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    {{realty.info}}

                  </p>

                </div>


              </div>
            </div>
          </div>
              <div class="col-md-12 col-lg-4">
                <div class="property-contact">



                  <form class="form-a" action="" method="POST">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg form-control-a" name="name" placeholder="Введите имя" value="{{ request.GET.name}}" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="email" class="form-control form-control-lg form-control-a" name="email" placeholder="Введите почту" value="{{ request.GET.email}}" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <textarea id="textMessage" class="form-control" name="message" placeholder="Введите сообщение" value="{{request.GET.message}}" cols="45" rows="8" required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-a">Отправить</button>
                      </div>
                    </div>
                  </form>

        </div>
      </div>

{% endblock %}